.services{
    padding-bottom: 2rem;
    background-color: var(--lightGrey);
  }
  .services > h1{
    text-transform: uppercase;
  }
  .icon__color{
    color: var(--blue);
  }
  .break{
    visibility: hidden;
  }
  @media only screen and (max-width: 568px){
  .break{
    background: darkgray;
    max-width: 90vw;
    visibility: visible;
  }
}