@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap');
*{
  max-width: 100vw;
}
/* Side Scroll Bar-------------------------------------------------------------------------*/
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: var(--primary-dark-grey);
}
::-webkit-scrollbar
{
    width: 10px;
    background-color: var(--primary-grey);
}
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: var(--blue);
    background-image: -webkit-linear-gradient(90deg,transparent rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}

h1,
h2,
h3,
h4{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
}
p{
  font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
}

/*LOGO COLORS
*/
:root{
  --sucess-green: #04f841;
  --green: #04f841;
  --blue: #3695e3;
  --lightGrey: #f4f4f4; 
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --icon-blue: #078af6;
  --error-red: red;
}
/***********************NAVBAR*****************************************************************************/

/*.logo{
  padding: 0;
  margin: 0;
  width: 4.375rem;
  height: 4.375rem;
}*/
.navbar{
  border-bottom: 2px solid var(--blue);
  opacity: 0.9;
  z-index: 100 !important;
}
.navbar-brand{
  
}
.nav-link{
  color: #fff !important;
  font-size: .7rem;
  font-weight: 500;
  letter-spacing: .20rem;
  cursor: pointer;
}
nav ul li{
  margin-right: .75rem;
  margin-left: .75rem;
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
}
.navbar-nav li:hover{
  border-bottom: 1px solid var(--green);
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  color: #04e03b !important;
  border-bottom: 1px solid var(--green);
}


/*********************HEADER*****************************************************************************/

.header__wraper{
  position: relative;
  background-image: url(./img/wood-desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.9;
}

.main__info{
  
  display: flex;
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.main__info > h1{
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
/*********************TYPED TEXT********************************/
.typed__text{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--green);
  
}
/********HEADER BUTTON********************/
.btn__main__offer{
  border: 1px solid var(--blue);
  text-transform: uppercase;
  border-radius: 10px;
  padding: 5px;
  margin: 1rem;
}
.btn__main__offer a {
  color: #000;
  font-size: 16px;
  z-index: 2;
}
/*****REACT PARTICLES**********************/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/*********************About Me********************************/
.photo__container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__pic{
  width: 18rem;
  border: 1px solid var(--blue);
  border-radius: 50%;
  padding: 0.3rem;
}
.about__heading{
  text-transform: uppercase;
  color: var(--blue);
}
/*******Services*******************************************************************/
.services{
  padding-bottom: 2rem;
  background-color: var(--lightGrey);
}
.services > h1{
  text-transform: uppercase;
}
.icon__color{
  color: var(--blue);
}
.break{
  visibility: hidden;
}
/*******Projects*******************************************************************/
.project__wrapper{
  padding: 3rem 0;
}
.project__wrapper h1{
  color: var(--blue);
}
.project__image{
  max-width: 15rem;
  height: 9rem;
  padding: 0 0.5rem;
}
.project__image__box{
  position: relative;
  margin: 1rem;
}
.overflow{
  position: absolute;
}

.project__icon{
  position: absolute;
  opacity: 0;
  margin-left: -7.45rem;
  margin-top: 3.6rem;
  color: var(--icon-blue);
  font-size: 2.4rem;
  font-weight: 700;
}

.project__image__box:hover .project__icon{
  opacity: 90%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.project__image__popup{
  width: 27rem;
  padding: 0 0.5rem;
}
.hyper__link{
  cursor: pointer;
  text-decoration: none !important;
  color: var(--blue);
  font-size: 1.2rem;
  display: inline-block;
}
.hyper__link:hover{
  cursor: pointer;
  text-decoration: none !important;
  color: var(--green);
}
/*******Experience*******************************************************************/
.experience{
  background-color: var(--lightGrey);
  padding: 0.7rem;
}
.experience__wrapper{
  position: relative;
  padding: 3rem 0;
  overflow: hidden;
}
.experience h1{
  text-transform: uppercase;
}
.experience li{
  list-style: none;
  padding: 0;
  margin: .25rem;
}

.experience__wrapper::before{
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-grey);
  z-index: 1;
}
.timeline__block{
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}
.timeline__block__right{
  float: right;
}
.timeline__block__left{
  float: left;
  direction: rtl;
}
.marker{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark-grey);
  background:var(--blue);
  margin-top: 0.625rem;
  z-index: 3;
}
.timeline__content{
  width: 95%;
  padding: 0 0.9375rem;
  color: #000;
  direction: ltr;
}
.experience h4{
  color: var(--primary-dark-grey);
}
/************Contact*******************************************************************/
.contact{
  background: var(--primary-grey);
  padding: 2.5rem;
}
.contact h1{
  text-transform: uppercase;
}
.contact p{
  color: #000;
}
.contact input, .contact textarea{
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
  border-radius: 0;
  color: #000;
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
}
.contact .container{
  padding: 3rem 0;
}
.contact input:focus,
.contact textarea:focus{
  background: transparent;
  color: #000;
}
.contact textarea{
 height: 12.465rem !important;
}
.contact__btn{
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
  border: 0.125rem solid var(--primary-dark-grey);
}
.contact__btn:hover{
  background: var(--blue);
}
.error__message {
  color: var(--error-red);
  
  text-align: center;
}

.success__message {
  font-weight: 700;
  color: var(--sucess-green);
}
/************Footer*******************************************************************/
.footer{
  background: var(--lightGrey);
}
.footer .container{
  padding: .5rem;
}
.footer img{
  width: 7.5rem !important;
  height: 8rem !important;
  margin: 0 !important;
  padding: 0 !important;
}
.footer h5{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
}
.footer p{
  margin: 0;
  padding: 0;
}
a{
  font-size: 1.6rem;
  text-decoration: none;
  opacity: 1;
  transition: 0.6s;
}
a:hover{
  opacity: 0.5;
}

/*******MEDIA QUERIES***************************************************/

@media only screen and (max-width: 568px) {
  /*Header*****************************/
  .main__info h1{
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
  }

  .typed__text{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--green);
  }
  .tsparticles-canvas{
    display: none !important;
  }
  /*About Me*****************************/
  .profile__pic{
    width: 13.4rem;
  }
  /*Services****************************/
  .break{
    background: darkgray;
    max-width: 90vw;
    visibility: visible;
  }
  /*Experience****************************/
  .experience{
    padding: 0.7rem;
  }
  .experience__wrapper::before{
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline__block__right{
    float: none;
    width: 100vw;
    padding-bottom: 0.8rem;
  }
  .timeline__block__left{
    width: 100vw;
    float: none;
    direction: ltr;
    padding-bottom: 0.8rem;
  }
  /*Projects***************************/
  .project__image__popup{
    width: 100%; 
  }
  /*Footer*****************************/
  .footer .container{
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
  }
  .footer img{
    width: 10rem !important;
    height: 10rem !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .footer a{
      font-size: .9rem !important;
  }
  
  
}

@media only screen and (max-width: 768px){
  
    .footer a {
      font-size: 1.2rem;
      margin-left: .4rem;
      padding-right: .8rem !important;
    }
}
/**Media QUERIES for projects on landscape mode*/
@media(max-height: 500px){
  .popupbox__wrapper{
    max-height: 100vh;
  }
  .project__image{
    max-width: 80%;
  }
  .project__image__popup{
    width: 12%; 
  }
}